@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --header-height: 75px;
  --container-padding: 0 2rem;
  --container-max-width: 1200px;
}

@media (min-width: 768px) {
  :root {
    --container-padding: 0 4rem;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

base-layout,
main-header {
  display: block;
  min-height: var(--header-height, 60px);
  contain: content;
}

:not(:defined) {
  display: block;
  min-height: var(--header-height, 60px);
}

.container {
  padding: var(--container-padding);
  max-width: 1200px;
  margin: 0 auto;
}

base-layout:not(:defined) *,
main-header:not(:defined) * {
  visibility: hidden;
}
